
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-color: #f2f1ed;
}

.flip-card {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: .1em;
  width: 3.5em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
  font-size: 3em;
  /* color: #ffa41b; */
  color: #361500;
}

.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(255, 174, 24, 0.801);
  text-align: center;
}

.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  -webkit-animation: flip-top 250ms ease-in;
          animation: flip-top 250ms ease-in;
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes flip-top {
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes flip-top {
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-animation: flip-bottom 250ms ease-out 250ms;
          animation: flip-bottom 250ms ease-out 250ms;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  text-align: center;
}

@-webkit-keyframes flip-bottom {
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes flip-bottom {
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.1em;
}

.segment-title {
  font-size: 1rem;
  color: #ffa41b67;   
}