.daily-planner-fullpage{
    font-size: 25px;
    color: var(--tri2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 14px;
    overflow: hidden;
}

.daily-planner-fullpage .day-planner{
    background-color: var(--pri);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-y: auto;
}

.daily-planner-fullpage .day-planner::-webkit-scrollbar{
    display: none;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 11px;
    border-radius: 5px;
    overflow: hidden;
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 5%;
    left: 1%;
    font-size: 16px;
    font-family: regular;
}

.day-planner .day-planner-time input{
    padding: 0px 40px;
    width: 100%;
    background-color: var(--sec);
    border: none;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
    outline: none;
    color: var(--text-alice);
}

.today{
    position: absolute;
    right: 18.8%;
    top: 7.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.today h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todays-time{
    position: absolute;
    right: 21%;
    top: 3%;
}

.todays-time h2{
    line-height: 0.9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
