section.allElem{
    /* height: 100%;
    width: 100%; */
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.elem{
    border-radius: 10px;
    height: 400px;
    width: 291px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    margin-top: 10px;
}

.elem img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 2%;
    right: 5%;
    font-weight: 800;
    font-size: 28px;
    color: var(--tri2);
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 20px;
    font-size: 50px;
    display: none;
    position: absolute;
}
