
#img-div {
    position: relative; 
    width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%); 
}

#quotesimg {
    width: 100%;
    -webkit-filter: hue-rotate(var(--quote-hue)) saturate(var(--quote-saturation));
            filter: hue-rotate(var(--quote-hue)) saturate(var(--quote-saturation));
}

#quotesimg-shadow{
    width: 100%;
    position: absolute;
    left: -7%;
    top: 5%;
    z-index: -1;
    opacity: 0.4;
    -webkit-filter: blur(13px) hue-rotate(var(--quote-hue)) saturate(var(--quote-saturation));
            filter: blur(13px) hue-rotate(var(--quote-hue)) saturate(var(--quote-saturation));
}

#blur-shadow{
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: var(--tri2);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: blur(300px);
            filter: blur(300px);
    /* background: radial-gradient(
  circle at 30% 20%,#c0991a 0%,#f7e204 28%,#f09206 55%,#372209 78%,#281504 100%); */
}

.motivational-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    text-align: center;
    /* padding: 40px; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* background-color: red; */
}

.motivation-1 h2 {
    font-size: 45px;
    margin-top: 35px;
    position: absolute;
    left: 26%;
    top: -10px;
    color: var(--tri2);
    font-family: bold;
}

.motivation-2 h1 {
    max-height: 45%;
    overflow-y: auto;
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 15px;
    max-width: 60%;
    position: absolute;
    top: 15%;
    left: 20%;
    text-shadow:2px 2px var(--text-wheat);
    /* background-color: red; */
    padding: 28px;
}

.motivation-2 h1::-webkit-scrollbar {
    display: none;
}

.motivation-3 h2 {
    font-size: 25px;
    margin-top: 10px;
    position: absolute;
    bottom: 21%;
    left: 58%;
    font-family: bold;
    color: var(--tri2);
    -webkit-filter: brightness(1.5);
            filter: brightness(1.5);
}

.profile-pic{
    height: 120px;
    width: 120px;  
    border-radius: 50%;
    position: absolute;
    bottom: 26%;
    left: 60%;
    overflow: hidden;
    border: 3px solid var(--sec);
    /* border: 2px solid aliceblue; */
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.profile-pic img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: grayscale(10%) contrast(1.1);
            filter: grayscale(10%) contrast(1.1);
}

.profile-pic:hover{
    border: 3px solid var(--text-alice);
}

.motivational-fullpage{
    overflow: hidden;
    /* display: block; */
}

.fullElem .motivational-fullpage{
    position: relative;
}

.ri-double-quotes-l-left{
    /* height: 50px;
    width: 50px; */
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--danger-red);
    font-size: 200px;
    /* z-index: 9; */
}
