
nav{
    position: absolute;
    left: 16px;
    top: 15px;
    width: 98%;
    height: 50px;
    background-color: var(--tri2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    border-radius: 100px;
    position: fixed;
}

nav h3{
    color: var(--tri2);
    text-shadow: 0 0 45px var(--tri2);
    font-family: bold;
    font-size: 30px;
}

nav i{
    padding: 15px 20px;
    font-size: 30px;
    color: var(--tri2);
}

nav button{
    border-radius: 100px;
    border-color: var(--text-alice);
    background-color: var(--pri);
    border: none;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    position: absolute;
    right: 2px;
    padding: 5px 2px;
}

nav button:active{
    scale: 0.96;
}

.app-name{
    border: 2px solid var(--pri);
    background-color: var(--pri);
    padding: 7px 20px;
    border-radius: 100px;
    position: absolute;
    left: 2px;
}

