.todo-list-fullpage h2{
    font-size: 60px;
    color: var(--tri2);
}

.todo-list-fullpage .todo-container{
    width: 100%;
    height: 85%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    height: 100%;
    width: 34%;
    background-color: var(--pri);
    border-radius: 10px;
}

.todo-list-fullpage .todo-container .addTask h3{
    font-size: 30px;
    margin-left: 30%;
    color: var(--tri2);
}

.todo-list-fullpage .todo-container .addTask form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
}

.todo-list-fullpage .todo-container .addTask form input{
    padding: 10px 20px;
    width: 100%;
    background-color: var(--sec);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--text-antique);
}

.todo-list-fullpage .todo-container .addTask form textarea{
    padding: 10px 20px;
    width: 100%;
    background-color: var(--sec);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    /* margin-bottom: 20px; */
    color: var(--text-antique);
}

.todo-list-fullpage .todo-container .addTask form button{
    padding: 10px 20px;
    width: 100%;
    background-color: var(--sec);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    -webkit-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;
    color: var(--tri2);
}

.todo-list-fullpage .todo-container .addTask form button:active{
    scale: 0.97;
}

.todo-list-fullpage .todo-container .addTask form button:hover{
    border: 1px solid var(--tri2);
    box-shadow: 0 0 25px var(--tri1);
}

.todo-list-fullpage .todo-container .allTask{
    height: 100%;
    width: 65%;
    background-color: var(--pri);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
    overflow: auto;
}

.task{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--tri1);
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.task h5{
    font-size: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    color: var(--tri2);
}

.task h5 span{
    font-size: 12px;
    color: var(--sec);
    padding: 3px 4px;
    border-radius: 10px;
    /* color: white; */
    font-weight: 100;
}

.task h5 span.true{
    opacity: 1;
}

.task h5 span.false{
    opacity: 0;
}

#task-det{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1vw;
}

#markdelete{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    color: var(--danger-red);
    font-size: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

.task button{
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: var(--tri2);
}

.task button:hover{
    background-color: var(--tri2);
    color: var(--pri);

}

.task button:active{
    scale: 0.97;
}

.mark-imp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px;
}

.mark-imp label{
    font-size: 20px;
    white-space: nowrap;
    color: var(--tri2);
}

.mark-imp input{
    scale: 1.5;
    margin-left: 10px;
    accent-color: var(--danger-red);
}

.ri-bookmark-3-fill{
    font-size: 20px;
    color: var(--danger-red);
}

/* .task i{
    color: red;
    display: none;
    font-size: 2.3vw;
    cursor: pointer;
} */

.task i:active{
    scale: 0.95;
}

.markBtn:disabled{
    background-color: var(--success-green);
    color: var(--text-white);
    cursor: not-allowed;
}

summary{
    font-size: 0.8vw;
    color: var(--tri1);
    cursor: pointer;
}

details p{
    color: var(--text-alice);
    font-size: 12px;
}