
.weather-wrapper{
    width: 100%;
    height: 235px;
    background-color: var(--tri1);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: var(--tri2);
    /* color: #ffa319; */
    font-family: regular;
    border-radius: 10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: background-image 0.6s ease-in-out;
    -o-transition: background-image 0.6s ease-in-out;
    transition: background-image 0.6s ease-in-out;
    text-shadow: 0 2px 10px var(--shadow-dark);

}

.weather-wrapper .right h1{
    margin-bottom: 25px;
    font-size: 70px;
    /* text-shadow: inset black; */
    text-shadow: 0 2px 8px var(--shadow-soft);
}

.weather-wrapper .right h5{
    line-height: 25px;
    font-size: 15px;
    font-weight: 200;
}

.weather-wrapper .left{
    line-height: 75px;
}

.weather-wrapper .left h1{
    font-size: 70px;
    font-family: bold;
}

.weather-wrapper .left h2{
    font-size: 30px;
}

.weather-wrapper .left h4{
    font-size: 20px;
}

.context-toast {
    position: fixed;
    top: 40px;
    left: 650px;

    background: var(--toast-bg);
    color: var(--text-white);
    padding: 0px 20px;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: 0.3px;

    opacity: 0;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    z-index: 9999;
    pointer-events: none;
}

.context-toast.show {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}